
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Areas/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12">
    <div class="panel panel-default">

        <form class="form-horizontal" role="form" method="post">
            <input type="hidden"  name="Id" value="@(ViewBag.attr!=null?ViewBag.attr.Id:"")"/>
            <input type="hidden" name="categoryID" value="@(ViewBag.categoryID)" />
            <div class="panel-heading">
                <p>Öznitelik Ekle</p>
            </div>
            <div class="panel-body">



                <div class="form-group">
                    <label class="col-md-4"> Öznitelik Adı</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="Name" value="@(ViewBag.attr!=null?ViewBag.attr.Name:"")" />
                    
                    </div>

                </div>


                <div class="clearfix"></div>

                <div class="form-group">
                    <label class="col-md-4">Öznitelik Adı</label>
                    <div class="col-md-8">
                        <select class="select form-control" name="AttributeType">
                            @foreach (var item in Enum.GetNames(typeof(EClassField.Core.Domain.Attribute.AttributeType)))
                            {
                                <option @(ViewBag.attr != null && ViewBag.attr.AttributeType.ToString() == item ? "selected" : "")>@item</option>
                            }
                        </select>
                    </div>


                </div>



            </div>

            <div class="panel panel-footer">

                <button class="btn btn-primary pull-right">Kaydet</button>

            </div>
        </form>
    </div>
</div>

<hr />
<h1>Öznitelikler</h1>

<table class="table table-responsive table-striped">

    <thead>
        <tr>
            <th>Kategori</th>
            <th>Nitelik Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (   EClassFieldWeb_.Models.Input item in ViewBag.attributes)
        {
            <tr>
                <td>@item.Icon</td>
                <td>@item.Text</td>
                <td>
                    <a class="btn btn-primary" href="/Panel/MAttribute/SubIndex/?attributeID=@item.Value&categoryID=@ViewBag.categoryID">Alt Nitelkler</a>

                    <a class="btn btn-primary" href="/Panel/MAttribute/Index/?attributeID=@item.Value&categoryID=@ViewBag.categoryID">Düzenle</a>
                    <a href="/Panel/MAttribute/Delete/?attributeID=@item.Value&categoryID=@ViewBag.categoryID" class="btn btn-danger">Sil</a>
                </td>

            </tr>
        }

    </tbody>

</table>

